* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

.header {
    height: 20%;
    background-color: #00b7eb;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    /* width: 100%; */
    height: 20%;
    background-color: #ff0000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.common {
    height: 40%;
    display: flex;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: #00ff00;
}
.sidebar {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #800080;
}
.footer {
    height: 20%;
    display: flex;
    background-color: #444444;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (max-width: 768px) {
    .common {
        flex-direction: column;
    }
}
